Flask==3.1.0
gunicorn
# azure-cosmos
# azure-identity
pymongo
scrython
ijson
python-dotenv
perplexityai==0.20.0
requests==2.32.5
httpx==0.28.1

pandas
numpy
scikit-learn
matplotlib
seaborn 
nbconvert
jupyter
